body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 60vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  background-color: rgb(66, 66, 238);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 13px;
  font-size: x-large;
}

.input-container {
  display: flex;
  padding: auto;
  margin-bottom: 10px;
  flex: 1;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px 0px 0px 4px;
}

input[type= "button"] {
  padding: 10px 40px;
  background-color: #2273eb;
  color: #fff;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

input[type = "button"]:hover, .task-list-css-tuto:hover{
  background-color: #2611a0;
}

.task-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.task-list p {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.task-list-css-tuto{
  background-color: #8ec7ff;
}

.task-list-assignment {
  text-decoration: line-through;
  background-color: rgb(105, 193, 163);
}

.task-list-assignment:hover {
  background-color: rgb(29, 110, 83);
}